.radio-button-dni{
    display: flex;
}

.radio-dni{
    margin-right: 10px;
}

.mrt25{
    margin-top: 25px;
}

.mrbt25{
    margin-bottom: 25px;
}

.mrbt0{
    margin-bottom: 0px !important;
}

.footer-ki{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.spinner-form{
    margin-top: 250px;
    margin-bottom: 250px;
    display: flex;
    justify-content: center;
}

.container-form-register{
    position: relative;
    padding: 3em 1em 1em;
    border: 1px solid #d8d8d8;
}

.btnComoLlegar{
    /*float: right;*/
    margin-top: 10px;
}
