.background {
    display: inline-block;
    background: #00AFF9 url(../assets/unplugged.png) center/cover no-repeat;
    height: 100vh;
    margin: 0;
    color: white;
    width: 100%;
}

h1 {
    margin: .8em 3rem;
    font-size: 4em;
    /*font: 4em Roboto;*/
}
p {
    display: inline-block;
    margin: .2em 3rem;
    font-size: 2em;
    /*font: 2em Roboto;*/
}
